version: 2

updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Warsaw"

    open-pull-requests-limit: 5

    commit-message:
      prefix: "deps"
      include: "scope"

    labels:
      - "dependencies"
      - "security"

    rebase-strategy: "auto"

    allow:
      - dependency-type: "direct"
      - dependency-type: "indirect"
