name: Check Mermaid Diagram

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Install slnx-mermaid
        run: dotnet tool install slnx-mermaid --tool-path ./.tools

      - name: Generate diagram
        run: |
          ./.tools/slnx-mermaid \
            --solution SlnxMermaid.slnx

      - name: Show generated file
        run: |
          echo "----- GENERATED -----"
          cat docs/architecture/dependency-graph-mermaid.md

      - name: Check for changes
        id: mermaid_check
        run: |
            if git diff --quiet docs/architecture/dependency-graph-mermaid.md; then
            echo "outdated=false" >> $GITHUB_OUTPUT
            else
            echo "outdated=true" >> $GITHUB_OUTPUT
            fi

      - name: Comment on PR
        if: steps.mermaid_check.outputs.outdated == 'true' && github.event_name == 'pull_request'
        uses: actions/github-script@v7
        with:
            script: |
                github.rest.issues.createComment({
                    issue_number: context.issue.number,
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    body: "⚠️ Mermaid diagram is outdated. Run `slnx-mermaid` and commit the updated file."
                })

      - name: Fail if outdated
        if: steps.mermaid_check.outputs.outdated == 'true'
        run: |
            echo "::error title=Mermaid diagram outdated::Run slnx-mermaid and commit the updated file."
            exit 1






